@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 8px 130px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
}

.nav-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-text {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    display: flex;

    align-items: center;
    text-decoration: none;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav li {
    list-style: none;
}

.follow-us {
    display: flex;
    gap: 16px;
    padding: 16px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 8px 130px;

}

.banner-container {
    margin-right: 180px;
}

.banner-container h3 {
    margin: 0px 0px;
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-container h1 {
    margin: 0px 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.paragraph-icon {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    gap: 10px;
}

.paragraph-icon p {
    margin: 10px 0px;
}

.button {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.btn-primary {
    border: 0;
    padding: 20px 30px;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-image {
    align-self: flex-end;
    width: 100%;
    height: 100%;
}

.online-game {
    margin-top: 50px;
    
    padding: 8px 130px;
    text-align: center;
}

.online-game-text h1 {
    margin-bottom: 0px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.cards-container{
    display: flex;
    gap: 15px;
}
.light-grey-text{
    margin-top: 0px;
    color: #534C64;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.card-image{
    width: 100%;
    height: 300px;
    border-radius: 16px;
    border: 0;
}
.card > .light-grey-text{
    text-align: left;
}


@media screen and (max-width: 480px) {
    nav {
        display: block;
    }

    .banner-container,
    nav,
    .online-game-text h1,
    nav>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 20px;
        gap: 20px;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 20px 20px;
        gap: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width: 770px) {
    nav {
        display: block;
    }

    .banner,
    .banner-container,
    nav,
    .online-game-text h1,
    nav>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 20px;
        gap: 20px;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 20px 60px;
        gap: 20px;
    }

    .follow-us {
        display: flex;
    }
}